$color: 	#d36154;
h1 {
  color: $color;
  background-color: orange;
}

body {
  background-color: royalblue;
}

.globe {
  position: relative;
}

.globe img {
  width: 100%;
  height: auto;
}



.frog {
  position: absolute;
  left:70%;
  top:20%;


}

.frog img {
  height: auto;
  width: 15%;
  border-radius: 50%


}

.animal2 {
  position: absolute;
  left: 300px;
  top: 200px;

  width: 200px;
  height: 200px;
  background-color: white;
  color: red;
  align-content: center;
  align-self: center;
  align-items: center;

}
.pic2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  color: blue;
}

// div.container {
//   width: 3000px;
//   height: 3000px;
//   display: block;
//   position: relative;
// }
// div.container::after {
//   content: "";
//   background-image: url('/images/world_topography_bathymetry_borders-pacific-giclee_lg.png');
//   opacity: 0.75;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }
