$color: 	#d36154;
h1 {
  color: $color;
  background-color: orange;
}

body {
  background-color: royalblue;
}

.globe {
  position: relative;
}

.globe img {
  width: 100%;
  height: auto;
}

.frog {
  position: absolute;
  left:70%;
  top:20%;
  z-index: 1;
}

.frog img {
  height: auto;
  width: 18%;
  border-radius: 50%;

}
p {
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 8px;
  font-family: fantasy;
  font-size: 1em;
  display: inline-block;
  margin: 6.9%;
  width: 70%;
  border: 2px solid white;
  display: none;
}

// .frog:hover > p {
//   display: block;
// }

div div:hover > p {
  display: block;
}

.jaguar {
  position: absolute;
  left: 80%;
  top: 40%
}
.jaguar img {
  height: auto;
  width: 25%;
  border-radius: 50%;
  z-index: 0;
}
// .jaguar:hover:after {
//   z-index: 1;
//   content: "";
//   color: white;
//   background-color: black;
//   font-family: fantasy;
//   font-size: 1em;
//   display: inline-block;
//   margin: 6.9%;
//   width: 70%;
//   border: 2px solid white;
// }

.dugong {
  position: absolute;
  left: 18%;
  top: 32%
}
.dugong img {
  height: auto;
  width: 20%;
  border-radius: 50%;
  z-index: 0;
}
// .dugong:hover:after {
//   z-index: 1;
//   content: "";
//   color: white;
//   background-color: black;
//   font-family: fantasy;
//   font-size: 1em;
//   display: inline-block;
//   margin: 6.9%;
//   width: 70%;
//   border: 2px solid white;
// }
